h1{
    font: 500;
    font-style: italic;
    text-align: center;
    color:#3333FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 500px
    
}
#main{
    text-align: center;

}
#sothich{
    font-size: larger;
    
}
body{
    background: lightblue no-repeat fixed center;
    background: cover;


